<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	

		<p class="help-block text-danger"></p>

		<div class="row control-group">
			<div class="form-group col-xs-12 floating-label-form-group controls">
				<input ng-model="postToCreate.title" type="text" name="" class="form-control" placeholder="Title"> 
			</div>
		</div>

		<p class="help-block text-danger"></p>

		<p class="help-block text-danger"></p>
		<p class="help-block text-danger"></p>
		<div class="row control-group trix-content">
			<div class="form-group col-xs-12 floating-label-form-group controls" >
				<trix-editor ng-model="postToCreate.content" placeholder="Content" class="trix-content"></trix-editor>
			</div>
		</div>
		<p class="help-block text-danger"></p>
		<div class="row control-group">
			<div class="form-group col-xs-12 floating-label-form-group controls">
				<input ng-model="postToCreate.tags" type="text" name="" class="form-control" placeholder="Tags">
			</div>
		</div>
		<p class="help-block text-danger"></p>

		<a href="#" align="right"><button ng-click="createPost()" class="btn btn-me">Post</button></a>
		
		<p class="help-block text-danger"></p>
</div>
