<!DOCTYPE html>
<html>
<head lang="en">
	<title>Project 50%</title>
	<script type="text/javascript" src="/packages/angular.min.js"></script>
	<script type="text/javascript" src="packages/angular-route.min.js"></script>
  	<script type="text/javascript" src="packages/angular-ui-router.js"></script>
	<script type="text/javascript" src="/packages/jquery-1.11.3.min.js"></script>


	<script type="text/javascript" src="/js/app.js"></script>
</head>
<body ng-app="BlogApp">

<button>Home</button><button>Create Post</button> <!-- Jquery to change the display here -->

<div ui-view="viewPost"></div>
<div ui-view="createPost"></div>



<script type="text/javascript" src="/js/basic-ui.js"></script>
</body>
</html>

