<!DOCTYPE html>
<html>
<head>
	<title>Project 50%</title>
	<script type="text/javascript" src="/packages/angular.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>


	<script type="text/javascript" src="/packages/jquery-1.11.3.min.js"></script>
</head>
<body>

<form>
	
	<input id="username" type="text" name="" placeholder="username">
	<input id="pass1" type="password" name="" placeholder="password">
	<input id="pass2" type="password" name="" placeholder="repeat password">
	<button id="sign_up">Register</button>
</form>



<script type="text/javascript" src="/js/basic_ui.js"></script>
</body>
</html>

